/*@import "compass/compass";*/
/*@import "../compass/compass/css3/animation";*/
/* Create by HuyQTA - 06-2015 */
/* Create by HuyQTA - 06-2015 */
@-webkit-keyframes colorchanger {
  /*100% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }*/
  0% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); }

  10% {
    background: linear-gradient(to right, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC); }

  20% {
    background: linear-gradient(to right, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff); }

  30% {
    background: linear-gradient(to right, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff); }

  40% {
    background: linear-gradient(to right, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff); }

  50% {
    background: linear-gradient(to right, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff); }

  60% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff); }

  70% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff); }

  80% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff); }

  90% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); } }

@-moz-keyframes colorchanger {
  /*100% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }*/
  0% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); }

  10% {
    background: linear-gradient(to right, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC); }

  20% {
    background: linear-gradient(to right, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff); }

  30% {
    background: linear-gradient(to right, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff); }

  40% {
    background: linear-gradient(to right, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff); }

  50% {
    background: linear-gradient(to right, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff); }

  60% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff); }

  70% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff); }

  80% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff); }

  90% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); } }

@-o-keyframes colorchanger {
  /*100% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }*/
  0% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); }

  10% {
    background: linear-gradient(to right, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC); }

  20% {
    background: linear-gradient(to right, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff); }

  30% {
    background: linear-gradient(to right, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff); }

  40% {
    background: linear-gradient(to right, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff); }

  50% {
    background: linear-gradient(to right, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff); }

  60% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff); }

  70% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff); }

  80% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff); }

  90% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); } }

@keyframes colorchanger {
  /*100% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }*/
  0% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); }

  10% {
    background: linear-gradient(to right, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC); }

  20% {
    background: linear-gradient(to right, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff, #fff); }

  30% {
    background: linear-gradient(to right, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff, #fff); }

  40% {
    background: linear-gradient(to right, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff, #fff); }

  50% {
    background: linear-gradient(to right, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff, #fff); }

  60% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff, #fff); }

  70% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff, #fff); }

  80% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600, #fff); }

  90% {
    background: linear-gradient(to right, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #CDBFAC, #FF6600); } }

html, body {
  font-family: 'Montserrat', sans-serif; }

header {
  background-color: #154890;
  height: 500px; }

.header-line {
  height: 3px;
  -webkit-animation-name: colorchanger;
  -moz-animation-name: colorchanger;
  -ms-animation-name: colorchanger;
  -o-animation-name: colorchanger;
  animation-name: colorchanger;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.h-menu-header {
  color: #6699FF; }

/*# sourceMappingURL=mystyle.css.map */