/*@import "compass/compass";*/
/*@import "../compass/compass/css3/animation";*/
@import "../Styles/Sass/Libraries/mixin";

/// DEFINE COMMON VARIABLES
/// ==== COLORS
$color-dark-blue: #154890;
$color-light-blue: #6699FF;
$color-dark-gray: #CDBFAC;
$color-light-gray: #E1D4C0;
$color-white-gray: #F5EDE3;
$color-orange: #FF6600;
$color-black: #000;
$color-white: #fff;

/// ==== IMAGES
$url-background-image: url('../../Images/bg.png');

/// ==== FONTS
$font-pacifico: 'Pacifico', cursive;
$font-montserrat: 'Montserrat', sans-serif;
$font-patua: 'Patua One', cursive;

@include keyframes(colorchanger) {
    0% {
        background: linear-gradient(to right, $color-dark-gray, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }

    10% {
        background: linear-gradient(to right, $color-orange, $color-dark-gray, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray);
    }

    20% {
        background: linear-gradient(to right, $color-dark-gray, $color-orange, $color-dark-gray, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white);
    }

    30% {
        background: linear-gradient(to right, $color-white, $color-dark-gray, $color-orange, $color-dark-gray, $color-white, $color-white, $color-white, $color-white, $color-white);
    }

    40% {
        background: linear-gradient(to right, $color-white, $color-white, $color-dark-gray, $color-orange, $color-dark-gray, $color-white, $color-white, $color-white, $color-white);
    }

    50% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-dark-gray, $color-white, $color-white, $color-white);
    }

    60% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-dark-gray, $color-white, $color-white);
    }

    70% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-dark-gray, $color-white);
    }

    80% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-dark-gray);
    }

    90% {
        background: linear-gradient(to right, $color-dark-gray, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }

    100% {
        background: linear-gradient(to right, $color-orange, $color-dark-gray, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray);
    }
}

html, body {
    font-family: $font-montserrat;
    -webkit-font-smoothing: antialiased;
}

header {
    background: $color-dark-blue;
    /*background: url('../../Images/header-bg.jpg') no-repeat center center fixed;*/
    background-size: cover;
    height: 500px;
}

.header-line {
    height: 3px;
    @include animation-name(colorchanger);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(ease-in-out);
    @include animation-direction(alternate);
    @include animation-delay(0.5s);
}

.h-logo {
    margin: 15px 0;
    max-height: 50px;
}

.h-subject {
    color: $color-orange;
    font-family: $font-pacifico;
    font-size: 24px;
    /*text-shadow: 0 0 35px $color-white;
    -webkit-text-stroke: $color-white 2px;*/
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.h-menu-header {
    margin-top: 15px;
    color: $color-dark-blue;
    font-family: $font-patua;
    font-size: 18px;
    line-height: 50px;

    ul li {
        cursor: pointer;
        color: $color-light-blue;
        vertical-align: middle;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.h-menu-item u li {
    padding: 0 10px;
    border: 3px solid $color-dark-blue;

    :hover {
        border-bottom: 3px solid $color-white;
        color: $color-white;
    }
}
