/*@import "compass/compass";*/
/*@import "../compass/compass/css3/animation";*/
@import "../Styles/Sass/Libraries/mixin";

/// DEFINE COMMON VARIABLES
/// ==== COLORS
$color-dark-blue: #154890;
$color-light-blue: #6699FF;
$color-dark-gray: #CDBFAC;
$color-light-gray: #E1D4C0;
$color-white-gray: #F5EDE3;
$color-orange: #FF6600;
$color-black: #000;
$color-white: #fff;

/// ==== IMAGES
$url-background-image: url('../../Images/bg.png');

/// ==== FONTS
$font-pacifico: 'Pacifico', cursive;
$font-montserrat: 'Montserrat', sans-serif;
$font-patua: 'Patua One', cursive;

@include keyframes(colorchanger) {
    0% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }

    10% {
        background: linear-gradient(to right, $color-orange, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray);
    }

    20% {
        background: linear-gradient(to right, $color-dark-gray, $color-orange, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white);
    }

    30% {
        background: linear-gradient(to right, $color-white, $color-dark-gray, $color-orange, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white);
    }

    40% {
        background: linear-gradient(to right, $color-white, $color-white, $color-dark-gray, $color-orange, $color-white, $color-white, $color-white, $color-white, $color-white);
    }

    50% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-white, $color-white, $color-white, $color-white);
    }

    60% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-white, $color-white, $color-white);
    }

    70% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-white, $color-white);
    }

    80% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange, $color-white);
    }

    90% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }
    /*100% {
        background: linear-gradient(to right, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-white, $color-dark-gray, $color-orange);
    }*/
}

html, body {
    font-family: $font-montserrat;
}

header {
    background-color: $color-dark-blue;
    height: 500px;
}

.header-line {
    height: 3px;
    @include animation-name(colorchanger);
    @include animation-duration(0.5s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(ease-in-out);
    @include animation-direction(alternate);
    @include animation-delay(0.5s);
}

.h-menu-header{
    color: $color-light-blue;
}