<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huy QTA's site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Content/Styles/mystyle.min.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Montserrat|Patua+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="container">11111
        <div class="header-line">1312312</div>
        <div class="header-line">1312312</div>
        2222
        <div class="header-line">1312312</div>
    </header>
    <script src="../Scripts/Scripts/huyqta.js"></script>
</body>
</html>
